.signup-wrapper
  .signup-form-section
    .title
      = image_tag "Mienya2-logo.png", class: "title-logo"
      / %h1.title Mienya
  .signup-form
    %h1 Sign in
    .transparent-bothends
    = form_for :session, url: login_path do |f|
      / = render 'shared/error_messages'

      .signup-form__email.form-item
        = f.label :email
        = f.email_field :email, class: 'form-control'

      .signup-form__password.form-item
        = f.label :password
        = f.password_field :password, class: 'form-control'

        = f.submit "Log-in", class: "signup-button"

      .linkto-signup
        = link_to "Sign up now!", signup_path
