.task-box__second
  .task-box__second__status
    = check_box_tag '', '', child_task.done, 'data-id': child_task.id, 'data-task_id': child_task.task_id, id: "checkbox#{child_task.id}"
    = label_tag "checkbox#{child_task.id}", "", class: "check_css"
  .task-box__second__name
    %p
      = child_task.title
  .task-box__second__deadline
  .task-box__second__func
    .task-box__second__func__icon
      %i.fa.fa-plus-square.fa-fw
    .task-box__second__func__icon
      %i.fa.fa-edit.fa-fw
    .task-box__second__func__icon
      = link_to "/tasks/#{task.id}/child_tasks/#{child_task.id}", method: :delete, data: {confirm: "are you sure?"} do
        %i.fa.fa-trash.fa-fw
